* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-image: url(./back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ----- SIDEBAR ----- */

.sidebar {
    grid-column: 1 / 2;
    background-color: rgba(255, 255, 255, 0.466);
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
}

@font-face {
    font-family: 'todo';
    src: url(./Demode.ttf);
}

.icon {
    grid-row: 1 / 2;
    font-family: 'todo';
    align-self: center;
    justify-self: center;
    font-size: 4rem;
    color: aqua;
    cursor: alias;
}

.firstform {
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    justify-self: center;
}

.firstform > input {
    border: 1px solid aqua;
    border-radius: 6px;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.secondform {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    justify-self: center;
}

.secondform > input {
    border: 1px solid aqua;
    border-radius: 6px;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.secondform > input:hover {
    background-color: aqua;
    transform: scale(1.07, 1.07);
}


button {
    background-color: rgba(0, 0, 255, 0);
    color: black;
    border: 2px solid black;
    padding: 6px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-weight: bolder;
}

select {
    border: 1px solid aqua;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    padding: 4px;
}

select:hover {
    background-color: aqua;
}

button:hover {
    background-color: aqua;
}

/* ----- MAIN ----- */

.maincontent {
    grid-column: 2 / 3;
    background-color: rgba(0, 255, 255, 0.336);
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1fr, 300px));
    overflow: auto;
}

span {
    min-width: 80%;
    max-width: 80%;
    height: 150px;
    border: 3px dotted white;
    background-color: aqua;
    border-radius: 10px;
    justify-self: center;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
}

span:hover {
    transform: scale(1.04, 1.04);
}

.todo {
    height: 75%;
    min-width: 110px;
    max-width: 110px;
    border: 1.5px solid black;
    border-radius: 5px;
    align-self: center;
    margin: 10px;
    cursor: pointer;
    background-color: white;
    display: flex;
    padding: 5px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.todo:hover {
    transform: scale(1.03, 1.03);
}

.low {
    color: blue;
    font-weight: bold;
}

.normal {
    color: green;
    font-weight: bold;
}

.high {
    color: red;
    font-weight: bold;
}

.borderlow {
    border: 1.5px solid blue;
}

.bordernormal {
    border: 1.5px solid green;
}

.borderhigh {
    border: 1.5px solid red;
}
